.product-title {
    margin-top: 1em;
    font-size: 1.1em;  
}
.category {
    font-size: 0.9em;
    color: #888;
}
.description {
    font-size: 1em; 
}
.img-fluid {
    max-width: 80%; 
    height: auto; 
    display: block; 
    margin: auto; 
}