.add-product {
    padding: 20px;
}

input, textarea {
    border: 1px solid black;
}

.title {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.submit-button {
    margin-top: 20px;
}